{% extends 'base.html.twig' %}

{% block title %}Ajoutez une planète{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>Ajoutez une planète</h1>
    <div>
        <a href="{{ path('planet') }}">
            <i class="fas fa-globe-europe"></i>
            Voir les planètes
        </a>
    </div>
</div>
{% endblock %}
