{% extends 'base.html.twig' %}

{% block title %}Ajoutez un vehicule{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>Ajoutez un vehicule</h1>
    <div>
        <a href="{{ path('vehicule') }}">
            <i class="fas fa-globe-europe"></i>
            Voir les vehicules
        </a>
    </div>
</div>
{% endblock %}
